body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 1rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

section > h2{
    text-align: center;
}


@media (max-width: 768px) 
    footer {
        position: static;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.9rem;
    }

    header, footer {
        padding: 0.5rem 0;
    }

    main {
        padding: 0.5rem;
    }
}